.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.wbk
*.mp4
*.docx
*.html
/DS10CapstoneWeek2_*/
/Week 2 other reviews/
/backup/
/benchmark/
/capstone archive/
/data/
/data.table/
/data_clean/
/data_raw/
/rsconnect/
/shiny
/Jurafsky/
/Jurafsky NLP notes/
*.txt
*.rar
