.Rproj.user
.Rhistory
.RData
.Ruserdata
2016-08-06-mt-martin-koerner-Author Extraction from Social Science Research Papers Using Conditional Random Fields and Distant Supervision.pdf
*.[pdf]
*.[wbk]
*.[mp4]
*.[docx]
/DS10CapstoneWeek2*
/data
/data.table
/data_clean
/data_raw
/rsconnect/
/shiny
*.[txt]
*.[rar]
